@model EntityLayer.Concrete.Student

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/image/site/user.png"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Model.StudentName @Model.StudentSurname</h3>

                        <p class="text-muted text-center">Öğrenci</p>

                        <ul class="list-group list-group-unbordered mb-3">

                            <li class="list-group-item">
                                <b>Üniversite Kaydı</b> <a class="float-right">@(Model.StudentUniversityRegistered ? "Var" : "Yok")</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Bilgiler</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">

                            <!-- AYARLAR -->
                            <div class="tab-pane active" id="settings">

                                @using (Html.BeginForm("StudentProfile", "StudentPanel", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
                                {
                                    @Html.HiddenFor(x => x.StudentID) @*form içinde AdminID bilgisi olmadan güncelleme yapılamıyor, buraya gizli olarak ekledik*@

                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">İsim</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.StudentName, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.StudentName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Soy İsim</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.StudentSurname, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.StudentSurname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Mail</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.StudentMail, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.StudentMail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2 col-form-label">No</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.StudentNo, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.StudentNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Bölüm</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.StudentProgram, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.StudentProgram, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Şifre</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.StudentPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.StudentPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Bilgileri Güncelle</button>
                                            <br />
                                            @if (ViewBag.RecordStatus != null)
                                            {
                                                if (ViewBag.RecordStatus)
                                                {
                                                    <p class="text-success">@ViewBag.ErrorMessage</p>
                                                }
                                                else
                                                {
                                                    <p class="text-danger">@ViewBag.ErrorMessage</p>
                                                }
                                            }
                                            else
                                            {
                                                <p class="text-danger">@ViewBag.ErrorMessage</p>
                                            }
                                        </div>
                                    </div>
                                    <br />

                                }

                            </div>
                            <!-- AYARLAR -->
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
