@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Ekleme Sayfası</h2>
<br />

@using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Admin Adı *")
        @Html.TextBoxFor(x => x.AdminName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminName)
        <br />
        @Html.Label("Admin Soyadı *")
        @Html.TextBoxFor(x => x.AdminSurmane, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminSurmane)
        <br />
        @Html.Label("Admin Mail *")
        @Html.TextBoxFor(x => x.AdminMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminMail)
        <br />
        @Html.Label("Admin İş *")
        @Html.TextBoxFor(x => x.AdminJob, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminJob)
        <br />
        <label>Admin Yetki*</label>
        @Html.CheckBoxFor(x => x.AdminAuthorization, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminAuthorization)
        <br />
        @Html.Label("Admin İmza (PNG)*")
        <div class="editor-field">
            <input  title="Upload a product image"
                   type="file" name="file" />
        </div>
        <p>@ViewBag.FileExt</p>



        <br />
        <br />
        <button id="AdminAddButton" class="btn btn-info">Ekle</button>
    </div>
}