@using EntityLayer.Concrete
@model List<Student>



@{
    ViewBag.Title = "Öğrenci Listeleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card bg-light">
    <div class="card-body">

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Ad Soyad</th>
                <th>Numara/Mail</th>
                <th>Üniversite Kayıt</th>
                <th>Program</th>
                <th>Tanımlanmış Belgeler</th>

            </tr>
            @{
                    int i = 0;
                    foreach (var student in Model)
                    {
                    i++;
                        <tr>

                            <td>
                                @i
                            </td>
                            <td>@student.StudentName @student.StudentSurname</td>
                            <td>@(student.StudentUniversityRegistered ? student.StudentNo : student.StudentMail)</td>
                            <td>@(student.StudentUniversityRegistered ? "Kayıt Var" : "Kayıt Yok")</td>
                            <td>@(student.StudentUniversityRegistered ? student.StudentProgram : "-" )</td>
                            <td style="text-align:center "><a href="/Document/DocumentList" class="btn btn-success">Tanımlanmış Belgeler</a></td>
                            @*<td style="text-align:center "><a href="/Admin/StudentUpdate/@student.StudentID" class="btn btn-success">Tanımlanmış Belgeler</a></td>*@
                        </tr>
                }

            }

        </table>


    </div>
</div>
