@model DocumentManagementSystem.Models.DocumentCreateModel

@{
    ViewBag.Title = "CreateDocument";
    Layout = "";
}

@*<img src=" @Model.DocumentBacgrounImage " alt="alternatetext">*@

<html>
<head>
    <title>Belge Görüntüleme</title>
    <link rel="icon" href="~/image/site/BozokIcon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Marck+Script&family=Merriweather:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/DocumentTemplate1.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
</head>


<body>

    @if (Model == null || Model.documentCreateSignatures.Count == 0)
    {
        <br />
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="text-center">Görüntülenecek Veri Bulunamadı !</h5>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div id="certificate">
                <div class="cert">
                    <div class="cert-header">

                        <div class="cert-logo">
                            <img src="~/image/site/BozokIcon.png" />
                            <div class="cert-logo-name">YOZGAT BOZOK ÜNİVERSİTESİ<br />MÜHENDSİLİK MİMARLIK FAKÜLTESİ</div>
                        </div>

                        <div class="cert-title">@Model.DocumentName</div>
                        <div class="cert-no">1897/B3/GT.06.03/2023</div>
                    </div>

                    <div class="cert-content">
                        <div class="cert-label">BELGENİN TANIMLANDIĞI KİŞİ</div>
                        <div class="cert-user">
                            <div class="cert-user-name">@Model.StudentFullName</div>
                            <div class="cert-user-info">BELGE KODU @Model.DocumentVerificationCode</div>
                        </div>
                        <div class="cert-achievement">@Model.DocumentText</div>

                        <div class="cert-signature">
                            <div>@Model.DocumentCreateDate</div>
                            <div class="cert-signature-sign">
                                <img src="~/image/site/imza3.png" />

                            </div>
                            <div style="font-weight: bold;">@Model.documentCreateSignatures[0].AdminFullName </div>
                            <div>@Model.documentCreateSignatures[0].AdminJob</div>
                        </div>
                    </div>

                    <div class="cert-footer">
                        <div class="cert-qr">
                            <div class="cert-qr-image">
                                <img src="https://iili.io/HXsjUx9.md.png" />
                            </div>
                        </div>
                        <div class="cert-qr-label">Karekodu okutarak belge doğrulama ekranına gidebilirsiniz</div>
                    </div>
                </div>
            </div>
        </div>

        <ul style="display: none;">
            <li>Convert SCSS to CSS, https://jsonformatter.org/scss-to-css</li>
            <li>Copy HTML to https://templates.mailchimp.com/resources/inline-css/ and add the CSS converted earlier</li>
        </ul>
    }

</body>
</html>



<script type="text/javascript">

    MyFunction();

    function MyFunction() {
        var json = @(Html.Raw(Json.Encode(Model)));
        console.log(json["StudentFullName"] + " JSON ÇALISIYOR ")


        console.log(json);
        console.log(json.StudentFullName);
        console.log(json.documentCreateSignatures[0].AdminFullName) 
    }
</script>